.strain_content {
  width: 100%;
  /* height: 100%; */
}

.title {
  margin: 10px;
  /* font-size: 25px; */
}

.title_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title_bar_button {
  width: 40px;
  height: 40px;
  padding-right: 30px;
}

.title_bar_button:hover {
  fill: #ddd;
}

.form_layout {
  display: list-item;
}
